src/scripts/*
src/scripts.rs
# Assets
*.jpg
*.png
*.gif
*.gltf
*.glb
# Disposable files, used mostly for testing and refactoring
*-defunct.rs 
*-backup.rs
*.log
# Rust 
/target
gl-wrap-core/target
gl-wrap-core/Cargo.lock