src/scripts/*
src/scripts.rs
# Images
*.jpg
*.png
*.gif
# Disposable files, used mostly for testing and refactoring
*-defunct.rs 
*-backup.rs
# Library files
*.dll
*.lib
# Rust 
/target
gl-wrap-core/target